.profile{
    max-width: 600px;
    margin: 10px auto;
}
.profile-frame{
    display: flex;
    justify-content: space-evenly;
}
.profile-pic > img{
    width: 110px;
    height: 110px;
    object-fit: contain;
    border-radius: 100px;
}
.profile-data{
    text-align: left;
    margin-top: 40px;
    margin-right: 300px;
}
.profile-info{
    padding: 0px 5px;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
.gallery img{
    width: 30%;
    margin: 10px;
    height: 200px;
    width: 150px;
} 

