.signUp{
    background-image: url("https://res.cloudinary.com/amitcloud2/image/upload/v1698921007/rwj9jc4cb6tmrlci55br.jpg");
    /* background-size: contain; */
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form{
    background-color: aliceblue;
    padding: 30px;
    border: 1px solid rgb(126, 122, 122);
    border-radius: 1px;
}
.signUpLogo{
    width: 200px;
    
    object-fit: contain;
    padding: 10px 0px;
}
.loginPara{
    color: rgba(var(--f52,142,142,142),1);
    font-size: 17px;
    font-weight: 600;
    line-height: 20px;
    margin: 0px 40px 20px 40px;
}
input{
    padding: 5px;
    margin: 3px 0px;
    outline: none;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}
.form > div{
    width: 80%;
    margin: auto;
}
#submit-btn{
    background-color: #ea1753;
    border: none;
    border-radius: 3px;
    color: whitesmoke;
    font-weight: bold;
    padding: 5px 10px;
    width: 80%;
    cursor: pointer;
    margin-top: 8px;
}
.form2{
    background-color: transparent;
    padding: 30px;
    margin-top: 5px;
    border: 1px solid rgb(126, 122, 122);
    border-radius: 1px;
    color: aliceblue;
}